---
name: CI
on: [push]
jobs:
  ci:
    runs-on: ubuntu-latest
    env:
      RUST_BACKTRACE: 1
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.4
      - name: Install dependencies
        run: rustup component add --toolchain nightly-x86_64-unknown-linux-gnu miri
      - name: Lint
        run: ./ci/lint.sh
      - name: Test
        run: ./ci/test.sh
